# Bỏ qua node_modules (Rất nặng)
node_modules/
.next/
out/

# Bỏ qua file Python cache
__pycache__/
*.pyc

# Bỏ qua file dữ liệu tạm thời
*.jpg
*.png
user_info.json
food_name.txt
ai_result.json

# Bỏ qua file môi trường (Chứa key bí mật)
.env
.env.local
.venv


